<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div id="wrapper">
<div class="navbar">
    <img class="brand-logo" src="assets/logo.png">
</div>
<div class="content">
    <div id="new-meeting">
    <h3>New meeting</h3>
    <form action="/meetings/" method="post">
        <p class="form__label">Topic</p>
        <input type="text" class="form__input" id="topic" name="topic" placeholder="Meeting topic"><br>
        <p class="form__label">Date</p>
        <input type="date" class="form__input form__input--half-width" id="date" name="date"
       value="2018-07-18"> 
       <input type="time" class="form__input form__input--half-width"  id="time" name="time" required> <br> <br>
       <!-- TODO: Current date and time-->

       <div id="advanced-settings">
        <input type="checkbox" id="meetingPasswordCheckBox" name="meetingPassword" value="meetingPassword" onclick=checkMeetingPassword()>
        <label for="meetingPassword"> Require password</label><br>
        <span id="meetingPasswordContainer"><input type="text" class="form__input form__input--half-width" id="meetingPasswordInput" name="meetingPasswordInput"><br></span>
        <input type="checkbox" name="waitingRoom" value="waitingRoom">
        <label for="waitingRoom"> Waiting room</label><br>
        <input type="checkbox" name="muteParticipantsOnEntry" value="muteParticipantsOnEntry" checked>
        <label for="muteParticipantsOnEntry"> Mute participants on entry</label><br>
        <input type="checkbox" name="onlyAuthenticatedUsers" value="onlyAuthenticatedUsers">
        <label for="onlyAuthenticatedUsers"> Only authenticated users can join</label><br>
        <input type="checkbox" name="automaticallyRecordMeetings" value="automaticallyRecordMeetings">
        <label for="automaticallyRecordMeetings">Automatically record meetings</label><br>
    </div>
       <p class="info_label">Meeting settings set to default. <br><span id="advanced-settings-action-label" class="action-label" onclick=showAdvancedSettings()>Edit Advanced Settings</span></p>
       <input type="submit" class="brand-btn" value="Schedule">
       <button class="brand-btn" onclick=clearFormValues()>Clear</button>
    </form>
</div><br><br>
<div id="scheduled-meetings">
    <h3>Upcoming meetings</h3>

    <% for(var meeting of meetings) { %>
        <div class="meeting-details">
            <p class="topic">Topic: <%= meeting.topic %></p>
            <p class="date-time">Time: <%= meeting.start_time %></p>
            <p class="start-share"><span class="start-meeting" onclick=startMeeting(<%= meeting.join_url %>)>Start</span><span class="separator"></span><span class="share-meeting" onclick=copyToClipboard()>Share</span></p>
        <hr class="line-separator">
    </div>
        <% } %>

    <!-- Test-->
    <div class="meeting-details">
    <p class="topic">Topic: Soma</p>
    <p class="date-time">Time: Aug 16, 2020 04:00 PM Vancouver</p>
    <p class="start-share"><span class="start-meeting">Start</span><span class="separator"></span><span class="share-meeting">Share</span></p>
    <hr class="line-separator">
    </div>
</div>
</div>
</div>
<script src="js/main.js"></script> 
</body>
</html>