$primary-color: #1a2e42;
$primary-brand: #137DC5;
$background-color: #fafcff;
$white: #fff;


body{
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    font-size: 16px;
    background:$background-color;
}

#wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;  
}

.navbar .brand-logo{
    max-width: 150px;
}

.header h1{
    position: relative;
    color: $primary-color;
    max-width: 600px;
    font-size: 3rem;
    font-weight: 800;
    margin-top:10rem;
}

.brand-btn{
    background: $primary-brand;
    color:white;
    padding:.375rem .75rem;
    font-size:1rem;
    border:none;
    border-radius:0.25rem;
    text-align:center;
    vertical-align: middle;
    font-weight:500;
    text-decoration:none;
}